.box1{
    border: 2px solid blue;
    margin: 2px;
    padding:10px;
    background-color: aquamarine;
    
}
.box2{
    border: 2px solid blue;
    margin: 2px;
    padding:10px;
    background-color: palegreen;
}
.box3{
    border: 2px solid blue;
    margin: 2px;
    padding:10px;
    background-color: skyblue;
}
.box4{
    border: 2px solid blue;
    margin: 2px;
    padding:10px;
    background-color: rgb(69, 195, 124);
    position:relative; 
    top:200px;
    left:10px;
    right: 10px;
    bottom: 400px;
}
.box5{
    border: 2px solid blue;
    margin: 2px;
    padding:10px;
    background-color: aqua;
    
}